<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "css/site.css" | relative_url }}">
    <!-- <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    {% seo %}
  </head>
  <body class="">
    {{ content }}
  </body>
  <script src="../js/main.js"></script>
</html>
